In [16]:
import pandas as pd
import numpy as np

import pickle

In [13]:
df = pd.read_csv("../../data/pre_all.csv")

In [14]:
df.head()

,Tên_mặt_hàng,Thị_trường,Loại_giá,Đơn_vị_tính,Nguồn,Ngày,Giá,Ngành_hàng
0,13,18,7,3,1,2025-05-09,128233.0,0
1,13,19,7,3,1,2025-05-09,128350.0,0
2,13,4,7,3,1,2025-05-09,128233.0,0
3,13,9,7,3,1,2025-05-09,128200.0,0
4,13,11,7,3,1,2025-05-09,128000.0,0

In [15]:
df.shape

(28726, 8)

In [22]:
with open("lbl_encoder/Thị_trường.pkl", "rb") as file:
    items = pickle.load(file)

In [23]:
items.classes_

array(['Cà phê', 'Lua gao', 'Rau quả', nan], dtype=object)

# Train từng mô hình