In [ ]:
import pandas as pd
import numpy as np

import pickle
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.api import VAR

from sklearn.model_selection import train_test_split

In [42]:
df = pd.read_csv("../../data/interpolated.csv")

In [43]:
df.head()

  Tên_mặt_hàng  Ngày(int)     Giá        Ngày
0      OM 5451       1147  8350.0  2024-02-25
1      OM 5451       1154  8350.0  2024-03-03
2      OM 5451       1161  8350.0  2024-03-10
3      OM 5451       1168  8350.0  2024-03-17
4      OM 5451       1175  8350.0  2024-03-24

In [44]:
df.shape

(10246, 4)

# Chia dữ liệu

In [47]:
x_cols = [x for x in df.columns if x != "Giá"]

In [49]:
X_train, X_test, y_train, y_test = train_test_split(
    df[x_cols],
    df["Giá"],
    stratify=df["Tên_mặt_hàng"],
    shuffle=True,
    random_state=42
)

# Train từng mô hình

In [50]:
items = df["Tên_mặt_hàng"].unique()

In [ ]:
for item in items:
    price = y